/*BORDER BOX*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*FONTS*/

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic);

/*HEADER*/

.header {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-size: 1.15em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  margin: 0 auto;
  padding-bottom: 5px;
}

.linkbar a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  font-size: 13px;
  padding-right: 20px;
  color: #99004d;
}

a:hover {
  color: black;
}

hr.styledhr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*BODY AND MAIN CONTAINER DIV*/

body {
  font-family: 'Roboto';
  font-weight: lighter;
  letter-spacing: .04em;
}

.container {
  position: relative;
  /*width: 90%;*/
  width: 1050px;
  margin-top: 45px;
  margin-left: 60px;
  /*border: 1px solid black;*/
  overflow: auto;
}

/*ITEM INFO COLUMN*/

.subheader {
  font-size: 20px;
  font-weight: 100;
  font-family: "Playfair Display";
  font-weight: 700;
}

.iteminfo {
  width: 30%;
  float: left;
  padding-right: 15px;
  /*border: 1px solid black;*/
}

 .iteminfo p {
  font-size: 16px;
  padding-top: 10px;
}

li {
  font-size: 14px;
}

/*IMAGE CONTAINER DIV*/

.container2 {
  width: 69%;
  float: left;
    /*border: 1px solid black;*/
}

/*MAIN ITEM IMAGE*/

.mainimg {
  width: 79%;
  float: left;
  border-radius: 5px;
}

.clickhere {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 175px;
  color: #999999;
  z-index: 5;
}

.clickhere:hover {
  color: #99004d;
}

/*IMAGE GALLERY */

.gallery {
  padding-left: 5px;
  width: 20%;
  float: right;
  /*border: 1px solid black;*/
}

.gallery img {
  /*border: 1px solid black;*/
  float: right;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 20px;
}

img:nth-child(2),
img:nth-child(3) {
  padding-top: 19px;
}

/*ADD TO CART BUTTON*/

.button {
  margin-top: 70px;
  margin-right: 40px;
  width: 85%;
}

.button p {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border: 1px solid #99004d;
  padding: 5px;
  border-radius: 5px;
  color: #99004d;
}

.button:hover {
  background-color: #cc0066;
  border-radius: 5px;
}

.button p:hover {
  color: white;
}
/*MAILING FORM */

.mailingform {
  width: 85%;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

input[type=text] {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
